<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="whizkid.amaya.calculatorforlaunch">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.UNINSTALL_SHORTCUT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pankaj_calculator_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.AMAYA_CALCULATOR" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalculatorSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HistoryActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
    </application>

</manifest> <!-- android:roundIcon="@mipmap/ic_launcher_round" --><!-- android:windowSoftInputMode="stateAlwaysHidden" --><!-- android:theme="@style/AppTheme" --><!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar"> --><!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->

    <!--Intent shortcutIntent = new Intent();--><!--shortcutIntent.setClassName("whizkid.amaya.calculatorforlaunch.MainActivity",--><!--"SampleIntent");--><!--shortcutIntent.addFlags(Intent.FLAG_ACTIVITY_NEW_TASK);--><!--shortcutIntent.addFlags(Intent.FLAG_ACTIVITY_CLEAR_TOP);--><!--&lt;!&ndash; shortcutIntent.putExtra("someParameter", "HelloWorld"); &ndash;&gt;-->

    <!--Intent addIntent = new Intent();--><!--addIntent.putExtra(Intent.EXTRA_SHORTCUT_INTENT, shortcutIntent);--><!--addIntent.putExtra(Intent.EXTRA_SHORTCUT_NAME, @string/app_name);--><!--addIntent.putExtra(Intent.EXTRA_SHORTCUT_ICON_RESOURCE,--><!--Intent.ShortcutIconResource.fromContext(context, R.mipmap.ic_launcher));-->

    <!--addIntent.setAction("com.android.launcher.action.INSTALL_SHORTCUT");--><!--context.sendBroadcast(addIntent);-->
